<app-menu-lateral></app-menu-lateral>
<div>
  <div class="d-flex box__home text-light">
    <div class="container box__home__div box__celeste d-flex">
      <div>
        <h4>S/.00</h4>
        <span>PEM EN CAJA</span>
      </div>
      <i class='bx bx-money iconos__home'></i>
    </div>
    <div class="container box__home__div box__rojo d-flex">
      <div>
        <h4>S/.00</h4>
        <span>compras del mes</span>
      </div>
      <i class='bx bx-shopping-bag iconos__home'></i>
    </div>
    <div class="container box__home__div box__verde d-flex">
      <div>
        <h4>S/.00</h4>
        <span>Ventas del dia</span>
      </div>
      <i class='bx bx-dollar-circle iconos__home'></i>
    </div>
    <div class="container box__home__div box__lila d-flex">
      <div>
        <h4>S/.00</h4>
        <span>Invertido en Stock</span>
      </div>
      <i class='bx bxs-purchase-tag iconos__home'></i>
    </div>
    <div class="container box__home__div box__celeste__bajo d-flex" style="text-align: right;">
      <i class='bx bxs-cube iconos__home'></i>
      <div>
        <h4>S/.00</h4>
        <span>Proveedores</span>
      </div>
    </div>
    <div class="container box__home__div box__verder__claro d-flex" style="text-align: right;">
      <i class='bx bxs-copyright iconos__home'></i>
      <div>
        <h4>S/.00</h4>
        <span>Marcas</span>
      </div>
    </div>
    <div class="container box__home__div box__anaranjado d-flex" style="text-align: right;">
      <i class='bx bx-dollar-circle iconos__home'></i>
      <div>
        <h4>S/.00</h4>
        <span>Presentaciones</span>
      </div>
    </div>
    <div class="container box__home__div box__lila__claro d-flex" style="text-align: right;">
      <i class='bx bxs-box iconos__home'></i>
      <div>
        <h4>S/.00</h4>
        <span>Productos Ingresados</span>
      </div>
    </div>
    <div class="container box__home__div box__rojo d-flex">
      <div>
        <h4>S/.00</h4>
        <span>Perecedores</span>
      </div>
      <i class='bx bx-calendar iconos__home' ></i>
    </div>
    <div class="container box__home__div box__celeste d-flex">
      <div>
        <h4>S/.00</h4>
        <span>Venceran en 30 dias</span>
      </div>
      <i class='bx bx-timer iconos__home'></i>
    </div>
    <div class="container box__home__div box__rosado d-flex">
      <div>
        <h4>S/.00</h4>
        <span>Clientes</span>
      </div>
      <i class='bx bxs-user iconos__home' ></i>
    </div>
    <div class="container box__home__div box__morado d-flex">
      <div>
        <h4>S/.00</h4>
        <span>Creditos Pendientes</span>
      </div>
      <i class='bx bxs-credit-card iconos__home'></i>
    </div>
  </div>
</div>
